<h1>MEMBER</h1>
<h1>PAGES</h1>

Email: <%= @current_user.email %>
</br>
First Name: <%= @current_user.first_name %>
</br>
Last Name: <%= @current_user.last_name %>
</br>
Role: <%= @current_user.role %>
</br></br></br>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% end %>
